p:hover{
    color: hotpink;
    text-transform: uppercase;
}

button:active{
background-color: black;
color: white;
}

input[type="radio"]:checked+label{
    color: red;
    font-weight: bold;
}

/* div:nth-of-type(2){
background-color: darksalmon;
} */

div:nth-of-type(2n){
background-color: rgb(249, 193, 174);
}